.toc-container {
    border: 2px solid var(--theme-color);
    overflow:hidden;
    padding:10px;
    background: rgba(243,243,243,.95);
}
.toc-container .toc-header { position: relative;}
.toc-container .toc-header p {
    color:#000;
    font-weight: bold;
}
.toc-container .toc-header .toc-show {
    cursor: pointer;
    position: absolute; right: 15px; top:0px; font-style: normal;
}
.toc-container ol {
    margin-left: 20px;
    color: #333;
    background: rgba(243,243,243,.95);
    list-style: decimal;
}
.toc-container ol li {
    counter-increment: List!important;
}
.toc-container ol li a {
    display: block;
    padding: 5px 10px;
    z-index: 10;
    overflow: hidden;
    position: relative;
    -webkit-transition: color .3s;
    transition: color .3s;
    color:#000;
    font-weight: bold;
    font-size: 12px;
}